body {
    margin: 0;
}

.items-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    background: #ccc;
    align-items: stretch;
}

.item-wrap {
    width: 23%;
    height: min-content;
    background: rgb(79, 255, 182);
    color: brown;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.product-image-wrap {
    width: 100%;
}
.product-image-wrap img {
    display: block;
    width: 100%;
    height: auto;
}

.main-page-main {
    display: flex;
}

.filter-form {
    width: 200px;
    height: 300px;
    overflow: scroll;
}

.prod-item-description {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.filters-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-slider {
    position: relative;
}

input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}
  
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;  
}
  
input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}
  
input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

#fromSlider {
    height: 0;
    z-index: 1;
}