.cart-list-section {
    width: 70%;
}

.product-in-cart {
    list-style-type: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-button;
}

.product-in-cart__img-wrap {
    width: 20%;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-in-cart__img {
    max-width: 100%;
	max-height: 100%;
}